:root {
    --the-dark: rgb(0, 3, 43);
    --the-blue: #003D93;
    --the-yellow: #F7C548;
}

header {
    background-image: linear-gradient(to top, var(--the-blue), var(--the-dark));
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
    z-index: 3;
    color: white;
    border-bottom: 2px solid var(--the-yellow);
    display: inline-flex;
    overflow: hidden;
}

#portal-socorro {
    z-index: 0;
    width: 100%;
    position: absolute;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

#menu-header {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    width: 640px;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    bottom: 0;
    font-size: larger;
    margin-left: 20px;
}

main {
    margin-top: 0px;
    position: relative;
    z-index: 0;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    border-radius: 7px;
    margin-bottom: 20px;
    line-height: 2em;
    min-width: 320px;
    box-shadow: 0 0 5px;
    font-size: 1.1em;

}

html {
    height: 1000px;
    display: center;
}

hr {
    border: none;
    /* Remover a borda padrão */
    height: 2px;
    /* Definir a altura da linha */
    position: relative;
    background-color: #F7C548;
    opacity: 0.4;
    margin: 15px;
}

p {
    text-indent: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

h1 {
    position: absolute;
    display: inline-block;
    padding: 0%;
    top: 0%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -60%);
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.493);
}

h2 {
    margin-left: 50px;
    margin-right: 50px;
    color: #bd9329;
    font-size: 40px;
    margin-bottom: -10px;
}

.new:hover {
    background-color: rgba(120, 177, 174, 0.1);
    border-radius: 7px;
}

.new {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    max-width: 100%;
    cursor: pointer;
}

#seja_assinante {
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: larger;
    margin-bottom: -11px;
    padding: 5px;
}

.imagens {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3px;
    max-width: 600px;
}

li {
    padding: 8px 8px 12px 8px;
}

li:hover {
    background: var(--the-dark);
    border-radius: 10px 10px 0 0;
    padding-bottom: -20px;
}

#seja_assinante:hover {
    background: var(--the-dark);
    border-radius: 10px 10px 0 0;
}

#menu {
    position: absolute;
    left: 10px;
    width: 35px;
    height: 35px;
    filter: invert(100%);
}

#menu:hover {
    left: 6px;
    width: 40px;
    height: 40px;

}

footer {
    height: 200px;
    background-color: #003D93;
}

#propaganda {
    margin-top: 210px;
    height: 150px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    position: relative;
    color: white;
}

#barra-search {
    position: absolute;
    bottom: 10px;
    right: 200px;
    border-radius: 10px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    text-indent: 10px;
    float: left;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.445) ;
}

#lupa {
    float: left;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-width: 0;
    overflow: hidden;
    padding: 0;
    margin-left: 5px;
    
}

#lupa-ico {
    width: 100%;
    object-fit: contain;
    filter: brightness(5);
}

#brasao {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: calc(10%);
}